
body {
    background-color: #eeeeee;
    font-family: 'Bree Serif', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
@media only screen and (max-width: 600px){
	body {
        padding: 0px;
        width: 0px;
        width: 100%;
    }
    .profile-landing {
        text-align: center;
    }
}
.bg-white {
    background-color: #fff;
}
.text-warning, .btn-warning {
    color: #FFC804;
}
.bg-tea {
    background-color: #b6e7dd;
}

.border-left {
    border-left: 3px solid #FFC804;
}

.my-6 {
    margin-top: 110px;
    margin-bottom: 110px;
}
/* BUTTON */
button:active{
    border: none;
}
.btn-dark {
    background-color: #08A98C;
    color: #171515;
    border-radius: 10px;
    border-bottom: 4px solid #08A98C;
    transition:  0.50s ease;
}
.btn-dark:hover {
    border-bottom: 4px solid #FFC804;
}
.btn-info {
    background-color: #1CB96F;
    color: #171515;
    border-radius: 10px;
    border-bottom: 4px solid #1CB96F;
    transition:  0.50s ease;
}
.btn-info:hover {
    background-color: #20d882;
    border-bottom: 4px solid #FFC804;
}
.btn-warning {
    border-radius: 10px;
    transition: 0.50s ease;
    border-bottom: 4px solid #FFC804;
}
.btn-warning:hover {
    border-bottom: 4px solid #08A98C;
    background-color: #ffd12c;
}
.btn-light {
    border: 3px solid #08A98C;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.50s ease;
    margin-left: 10px;
}
.btn-light:hover {
    border: 3px solid #08A98C;
    background-color: #08A98C;
    border-radius: 10px;
}
.btn-danger {
    border-bottom: 4px solid #FFC804;
    background-color: #FFC804;
    border-radius: 10px;
    transition: 0.50s ease;
    border-left: none;
    border-right: none;
    border-top: none;

}
.btn-danger:hover {
    border-bottom: 4px solid #000C17;
    background-color: #ffd12c;
    transition: 0.50s ease;

}
/* BUTTON */

/* NAVBAR */
nav .log{
    width: 100%;
}
nav {
    margin-bottom: 50px;
}
.navbar-brand {
    font-family: 'Bree Serif', serif;
    font-size: 28px;
}
.nav-item {
    font-size: 16px;
    margin-left: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
}
/* .kontak .btn-0 {
    margin-left: 10px;
    padding: 7px 15px 7px 15px;
    border-radius: 14px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: 2px solid #08A98C;
} */
.kontak {
    margin-top: 20px;
}
#home a,#portfolio a,#skill a,#cv a,#blog a {
    transition: 0.75s ease;
}
#home a:hover,#portfolio a:hover,#skill a:hover,#cv a:hover,#blog a:hover {
    color: #10cfac;
}

/* HEADER */


@media only screen and (max-width: 600px){
	#header .container{
        height: auto;
    }
    /* .header-img {
        width: 100%;
        display: block;
    } */

}
#header p {
    color: #707070;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
#header h4 {
    margin-top: 70px;
    color: #fff;
}

#header h5 {
    color: rgb(8, 169, 140);
}
/* .header-img  {
    width: 200px;
    display: block;
} */

/* HEADER */

/* PROFILE */
.profile .imgCs{
    width: 100%;
    margin: 10px auto;
}
.profile h3 {
    text-shadow: 1px 0px 0px #fff;
}
.profile {
    background-image: url(media/laptop_terbaru.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: 0 -80;
	height: 400px;
	margin-top: 100px;
}
.profile .line {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 130px;
    margin: 5px auto;
    border-radius: 5px;
}
.profile p {
    color: rgb(0, 0, 0);
    font-family: 'Work Sans', sans-serif;
}
.profile .quote {
    margin: 100px auto;
}
/* PROFILE */

/* About me */
.aboutMe .more a {
    color: #000C17;
}

.aboutMe p {
    font-size: 16px;
}
.aboutMe .about {
    background-color: #08A98C;
    border-radius: 10px;
    box-shadow: -8px 10px 0px 0px rgba(21, 36, 49, 1)
    ;
}
.aboutMe .more ul {
    list-style: none;
    display: flex;
}

.aboutMe .personal img {
    width: 100%;
}
.aboutMe .line {
    border-bottom: 5px solid #000C17;
    height:0px;
    width: 130px;
    border-radius: 5px;
}
.aboutMe h3 {
    color: #000C17;
}
/* About me */

/* SKILL */
.skill .col-md-4 {
    margin-bottom: 10px;
}
.skill .line {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 60px;
    margin: 0px auto;
    border-radius: 5px;
}
.skill .card {
    /* width: 60%; */
    background-color: #152431;
}
.skill .card-text {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    opacity: 90%;
}
.skill .card-title {
    color: #fff;
}
.skill .card img {
    width: 20%;
    margin: 20px auto;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,.5));
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,.5));
    transition: 0.4s ease-in-out;
}
.skill img:hover {
    transform: scale(1.08);
    -webkit-filter: drop-shadow(0px 0px 4px rgb(255, 200, 4));
    filter: drop-shadow(0px 0px 4px rgb(255, 200, 4));
}
/* skill */


/* tools */
.tools .row p {
    color: #fff;
    margin-top: 5px;
}
.tools .line {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 70px;
    margin: 0px auto;
    border-radius: 5px;
}
.tools .container{
    background-color: #152431;
    border-radius: 10px;
}
.tools img {
    width: 30%;
    display: block;
    margin: 0px auto;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 12, 23,.7));
    filter: drop-shadow(0px 0px 4px rgba(0, 12, 23,.7));
    transition: 1s ease-in-out;
}
.tools img:hover {
    transform: scale(1.08);
    -webkit-filter: drop-shadow(0px 0px 4px rgb(255, 200, 4));
    filter: drop-shadow(0px 0px 4px rgb(255, 200, 4));
}

/* eksperience */
.eksperience .imgDigi {
    width: 60%;
    border-radius: 50px;
    margin-top: 10px;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 12, 23,.7));
    filter: drop-shadow(0px 0px 5px rgba(0, 12, 23,.7));
}

@media only screen and (max-width: 600px){
	.eksperience .imgDigi {
        width: 30%;
        border-radius: 80px;
        margin-top: 10px;
        -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 12, 23,.7));
        filter: drop-shadow(0px 0px 5px rgba(0, 12, 23,.7));
    }

}
.eksperience .ex-01 {
    background-image: url(media/digitalent2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.eksperience .card {
    margin-bottom: 10px;
}
.eksperience .card-body {
    
}
.eksperience .line {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 150px;
    margin: 0px auto;
    border-radius: 5px;
}
.eksperience .col-md-6{
    line-height:15px;
    
}
.eksperience .card-text {
    line-height: 20px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    opacity: 90%;
}
.eksperience .descripEks{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
/* eksperience */

/* Project */
.nav-project .nav-item .active {
    background-color: #FFC804;
    color: #000C17;
    border-radius: 10px;
}
.nav-project .nav-item button {
    color: #353535;
}
.tab-content .card {
    height: 380px;
    font-size: 14px;
    border-radius: 15px;
}
@media only screen and (max-width: 600px){
    .tab-content .card {
        height: auto;
        font-size: 14px;
        border-radius: 15px;
    }
}
.tab-content .card-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Project */
/* PORTFOLIO */
.portfolio .bi-file-earmark-code, .bi-file-earmark-easel{
    color: #08A98C;
}
.portfolio img {
    width: 80%;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 12, 23, .9);
    transition: 0.4s ease-in-out;
}
.portfolio img:hover {
    transform: scale(1.08);
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 7px solid #08A98C;
}
.portfolio .line {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 70px;
    margin: 0px auto;
    border-radius: 5px;
}
.portfolio .line2 {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 100px;
    border-radius: 5px;
}
.portfolio .p1 {
    background-color: #152431;
    border-radius: 10px;
}
.portfolio .textPortfolio {
    opacity: 90%;
    font-family: 'Work Sans', sans-serif;
    font-size:16px;

}
.portfolio .descriptPf {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
/* PORTFOLIO */

/* contact */
.contact .message ul{
    display: inline-flex;
    list-style: none;
}
.contact .message {
    background-color: #152431;
    border-radius: 10px;
}
.contact .wa {
    background-color: #152431;
    border-radius: 10px;
}
.contact .wa img{
    width: 75%;
    margin: 0px auto;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,.5));
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,.5));
    transition: 0.75s;
}
.contact .wa img:hover{
    transform: scale(1.08);
    -webkit-filter: drop-shadow(0px 0px 4px rgba(8, 169, 140, 0.5));
    filter: drop-shadow(0px 0px 4px rgba(8, 169, 140, 0.5));
}
.contact .line {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 110px;
    margin: 0px auto;
    border-radius: 5px;
}
.contact .descriptContact{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
/* contact */

/* footer */
.header2 .container-flex{
    background-color: #152431;
}
.header2 .line2 {
    border-bottom: 5px solid #08A98C;
    height:0px;
    width: 50px;
    margin: 0px auto;
    border-radius: 5px;
}
footer .socialMedia ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
footer .socialMedia li .ig,.twitter,.facebook,.youtube,.github  {
    color : #FFC804;
    transition: 0.50s ease-in-out;
}
footer .socialMedia li .ig:hover {
    color : #c32aa3;
}
footer .socialMedia li .twitter:hover {
    color : #1da1f2;
}
footer .socialMedia li .facebook:hover {
    color : #3b5998;
}
footer .socialMedia li .youtube:hover {
    color : #ff0000;
}
footer .socialMedia li .github:hover {
    color : #171515;
}
.footerBottom {
    font-family: 'arial', sans-serif;
    font-size: small;
}
/* footer */

/* MODAL */
.modal-header, .modal-body {
    border: none;
    background-color: #152431;
    
}
/* MODAL */

/* cta */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #ffd12c;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #FFC804;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

   /* card 1 */
   .card-2 {
    position: relative;
    width: auto;
    height: 200px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: 190px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    border-radius: 50%;
    background-color: #08A98C;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  
  /* card-2 */
  .flip-card {
    background-color: transparent;
    width: auto;
    height: 320px;
    perspective: 1000px;
    /* font-family: sans-serif; */
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(252, 225, 108) 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgb(0, 122, 112) 48%);
    color: #1b1b1b;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(39, 158, 158) 30%, rgb(10, 117, 121) 88%,
       rgb(11, 170, 170) 40%, rgb(255, 255, 255) 78%);
    color: white;
    transform: rotateY(180deg);
  }